@import "./variables.scss";
@import "./mixin.scss";
@import "./media_query.scss";
.box{
  background-color: #EEE;
  height: $size%4;
  margin: 5px 0px;
  padding: 10px;
  text-align: center;
@include abc ;

  text-align: center;
  & > h3 {
    @include sm-max{
    color: green;
   }
  }
}



input[type="text"] {
  width: 100%;
  font-size: 15px * 4;
  color: green;
@include abc ;
}
