$xs-min-width: 480px !default;
$sm-min-width: 768px !default;
$md-min-width: 992px !default;
$lg-min-width: 1200px !default;

@mixin xs {
  @media (max-width: #{$sm-min-width - 1px}) {
    @content;
  }
}
@mixin sm {
  @media (min-width: #{$sm-min-width}) and (max-width: #{$md-min-width - 1px}) {
    @content;
  }
}
@mixin sm-min {
  @media (min-width: #{$sm-min-width}){
    @content;
  }
}
@mixin sm-max {
  @media (max-width: #{$md-min-width - 1px}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$md-min-width}) and (max-width: #{$lg-min-width - 1px}) {
    @content;
  }
}
@mixin md-min {
  @media (min-width: #{$md-min-width}) {
    @content;
  }
}
@mixin md-max {
  @media (max-width: #{$lg-min-width - 1px}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$lg-min-width}){
    @content;
  }
}
